    <footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/carlos-carvalho-monteiro/" target="_blank">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/carlosmonteiro85" target="_blank">
                            Github
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy; {{ currentYear }}, desenvolvido por
                <a href="https://github.com/carlosmonteiro85" target="_blank">Carlos Monteiro</a>.
              </div>
        </div>
    </footer>