<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">Cadastrar usuário</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- INICIO Card Header -->
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Formulário</h4>
                            <p class="card-category">Formulário de cadastro de usuário</p>
                        </div>
                        <!-- Final Card Header -->
                        <!-- INICIO form -->
                        <div class="card-body">
                            <form (ngSubmit)="create()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nome completo</label>
                                            <input
                                                [formControl]="nome"
                                                required
                                                [(ngModel)]="usuarioRequest.nome" 
                                                name="nome" 
                                                type="text" 
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">CPF</label>
                                            <input 
                                                [(ngModel)]="usuarioRequest.cpf" 
                                                name="cpf" 
                                                type="number" 
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Telefone</label>
                                            <input 
                                                [(ngModel)]="usuarioRequest.telefone" 
                                                name="telefone" 
                                                type="text" 
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">E-mail</label>
                                            <input 
                                                [(ngModel)]="usuarioRequest.email" 
                                                name="email" 
                                                type="email" 
                                                class="form-control" 
                                                [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                                <div class="clearfix"></div>
                            </form>
                            <!-- <app-alerta [icon]="alertIcon" [text]="alertText" *ngIf="showAlert"></app-alerta> -->
                        </div>
                        <!-- Final form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>