<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">Cadastar usuário</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- INICIO Card Header -->
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Formulário</h4>
                            <p class="card-category">Formulário de cadastro de usuario</p>
                        </div>
                        <!-- Final Card Header -->
                        <!-- INICIO form -->
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nome completo</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">CPF</label>
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Telefone</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">E-mail</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <!-- Final form -->
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="javascript:;">
                                <img class="img" src="../assets/img/avatar.png" alt="avatar" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">Usuário</h6>
                            <h4 class="card-title">Nome do Usuário</h4>
                            <p class="card-description"> CPF</p>
                            <p class="card-description"> Telefone</p>
                            <p class="card-description"> Email</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>